.mylist {
  height: 100vh;
  color: #fff;
  margin-top: 160px;
}
.mylist h1 {
  font-weight: 100;
}

.mylist__griditem {
  background-color: black;
}
.mylist__img {
  max-height: 250px;
  object-fit: contain;
  margin-right: 1.5rem;
}

.GridContainer {
  margin-top: 15%;
}

.headingh5 {
  color: white;
}
