.tvseries {
  height: 100%;
  margin-top: 60px;
  color: #fff;
}

.tvseries__postersRow {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.tvseries__postersRow::-webkit-scrollbar{
  display: none;
}
.film__rankingContainer {
  width:300px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  
}

.film___rankingNumber {
  position: absolute;
  font-size: 22rem;
  top: -145px;
  left: 0;
  color: rgb(179, 178, 178);
  z-index: 0;
}
.tvseries__img {
  max-height: 250px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}
.tvseries__img:hover {
  transform: scale(1.08);
  opacity: 1;
  cursor: pointer;
}

.tvseries__posters::-webkit-scrollbar {
  display: none;
}
