.tvseries {
  height: 100%;
  margin-top: 60px;
  color: #fff;
}

.tvseries__postersRow {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.tvseries__img {
  max-height: 250px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}
.tvseries__img:hover {
  transform: scale(1.08);
  opacity: 1;
  cursor: pointer;
}

.tvseries__posters::-webkit-scrollbar {
  display: none;
}
