.modalBox {
  height: 120px;
  width: 230px;
  box-sizing: content-box;
  position: fixed;
  color: rgb(255 255 255);
  background: rgb(0 0 0 / 80%);
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  z-index: 1;
  border-radius: 0 8px 8px 8px;
  margin-top: 0px;
}

.modalBox-root {
  padding: 2px;
}

.modalBox__genres {
  font-size: 12px !important;
  display: flex;
  align-items: center;
  padding: 0px;
}

.modalBox__cardActions {
  display: flex;
  padding: 8px;
  align-self: self-start;
  align-items: center;
  flex-direction: row;
  padding: 0px 0px 0 0px;
}

span {
  content: "\2022";
}

.modalBox__tagAndVote {
  position: absolute;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: baseline !important;
  margin-left: 0px !important;
  padding: 8px 0 0 0px !important;
}

.modalBox__dot {
  height: 5px;
  width: 5px;
  margin-left: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.modalBox__title {
  font-size: 16px !important;
  margin-top: 30% !important;
  margin-left: 0px !important;
}

.modalBox__tagline {
  /* position: absolute; */
  font-size: 15px !important;
  margin-top: 0% !important;
  margin-left: 0px !important;
  font-style: italic;
  font-variant: petite-caps;
}

.modalBox__vote {
  /* position: absolute; */
  font-size: 12px !important;
  margin-top: 2% !important;
  margin-left: 0px !important;
}
